# Ignore everything in this directory
*
# Except this file
!.gitignore

StRS-Business.aux
StRS-Business.log
StRS-Business.toc
StRS-Business.tex
StRS-Business.synctex.gz
StRS-User.aux
StRS-User.log
StRS-User.toc
StRS-User.tex
StRS-User.synctex.gz
userActivityDiagram.pdf
adminActivityDiagram.pdf
